{% extends 'main/base_auth.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-lg border-primary">
      <div class="card-body p-4">
        <h3 class="card-title text-center mb-4">Welcome Back</h3>
        <form method="post" action="{% url 'custom_login' %}" novalidate class="border p-4 rounded bg-dark shadow">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">Login</button>
          <div class="text-center mt-3">
            <a href="{% url 'password_reset_landing' %}" class="link-light small btn btn-link p-0">Forgot Password?</a>
          </div>
        </form>
        <p class="mt-3 text-center small">Don't have an account? <a href="/register/developer/" class="link-light">Register</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}